= form_for(@raid) do |f|
  - if @raid.errors.any?
    #error_explanation
      %h2
        = pluralize(@raid.errors.count, "error")
        prohibited this raid from being saved:
      %ul
        - @raid.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :event_date
    %br/
    = f.date_select :event_date
  .field
    = f.label :location
    %br/
    = f.text_field :location
  .field
    = f.label :dead_civilian
    %br/
    = f.text_field :dead_civilian
  .field
    = f.label :race
    %br/
    = f.text_field :race
  .field
    = f.label :dead_officer_1
    %br/
    = f.text_field :dead_officer_1
  .field
    = f.label :dead_officer_2
    %br/
    = f.text_field :dead_officer_2
  .field
    = f.label :standard_warrant
    %br/
    = f.check_box :standard_warrant
  .field
    = f.label :no_knock_warrant
    %br/
    = f.check_box :no_knock_warrant
  .field
    = f.label :warrant_type_unknown
    %br/
    = f.check_box :warrant_type_unknown
  .field
    = f.label :video
    %br/
    = f.text_field :video
  .field
    = f.label :source
    %br/
    = f.text_field :source
  .actions
    = f.submit
