.row
  .col-md-6
    %h1 All Raids
  .col-md-6
    = form_tag raids_path, class: "form-inline", method: :get do
      .input-group
        = text_field_tag :search, params[:search], class: "form-control", :placeholder => "Location Search", data: { autocomplete: autocomplete_raid_location_raids_path }
        %span.input-group-btn
          %button.btn.btn-secondary{:type => "submit"}
            %span.fa.fa-search
.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th Event date
          %th Location
          %th Dead civilian
          %th Race
          %th Dead officer
          %th Dead officer
          %th Standard warrant
          %th No knock warrant
          %th Warrant type unknown
          %th Video
          %th Source
          %th Actions
      %tbody
        - @raids.each do |raid|
          %tr
            %td= raid.event_date
            %td= raid.location
            %td= raid.dead_civilian
            %td= raid.race
            %td= raid.dead_officer_1
            %td= raid.dead_officer_2
            %td= raid.standard_warrant
            %td= raid.no_knock_warrant
            %td= raid.warrant_type_unknown
            - if raid.video
              %td= link_to "Video", raid.video
            - else
              %td N/A
            - if raid.source
              %td= link_to "Original News Story", raid.source
            - else
              %td N/A
            %td.btns-actions
              = link_to raid, class: "btn btn-default btn-xs" do
                %span.fa.fa-eye.text-primary
              = link_to edit_raid_path(raid), class: "btn btn-default btn-xs" do
                %span.fa.fa-pencil.text-success
              = link_to raid, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" do
                %span.fa.fa-trash.text-danger
  %br/

.row
  .col-md-6
    = link_to 'New Raid', new_raid_path


:css 
  table.table .btn-default { border: 1px solid #777; }
  .btns-actions .btn{ display: inline-block;  }
  .btns-actions { min-width: 90px; }
  ul#ui-id-1.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front { max-width: 300px; background: #f1f1f1; border: 1px solid; }
  .ui-menu-item-wrapper { color: #888; text-shadow: none;}
  table.table > tbody td a { color: #777;}
