%p#notice= notice
%p
  %strong Event date:
  = @raid.event_date
%p
  %strong Location:
  = @raid.location
%p
  %strong Dead civilian:
  = @raid.dead_civilian
%p
  %strong Race:
  = @raid.race
%p
  %strong Dead officer 1:
  = @raid.dead_officer_1
%p
  %strong Dead officer 2:
  = @raid.dead_officer_2
%p
  %strong Standard warrant:
  = @raid.standard_warrant
%p
  %strong No knock warrant:
  = @raid.no_knock_warrant
%p
  %strong Warrant type unknown:
  = @raid.warrant_type_unknown
%p
  %strong Video:
  = @raid.video
%p
  %strong Source:
  = @raid.source
= link_to 'Edit', edit_raid_path(@raid)
|
= link_to 'Back', raids_path
