.masthead.clearfix
  .inner
.inner.cover
  %h1.cover-heading StackOverflow Code Examples
  %p.lead Illustrating the point is so much easier than attempting to use theoretical explanations.
  %p.lead
    %a.btn.btn-lg.btn-secondary{:href => "http://stackoverflow.com/users/1753596/trh"} My Stack Oveflow
  %p.lead
    %a{href: "http://stackoverflow.com/questions/43007120/rails-4-autocomplete-and-devise-authorization"}
      Question
  %p.lead
    = link_to "Code Answer", raids_path
.mastfoot
  .inner
    %p
      Stack Overflow Answers Code found @
      = succeed "," do
        %a{:href => "https://bitbucket.org/bunglify/"} Bunglify Bitbucket
      = succeed "." do
        %a{:href => "https://twitter.com/Bunglify"} @Bunglify
