!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : "StackOverflow Answers Code: Devise + Autocomplete"
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Devise + Autocomplete'}"}
    = csrf_meta_tags
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "all,follow", :name => "robots"}/
    %meta{:content => "index,follow,snippet,archive", :name => "googlebot"}/
    %meta{:content => "", :name => "keywords"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:400,400italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "favicon.png", :rel => "shortcut icon"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %meta{:content => "deals, specials, on sale, buying admin, group buying, group deals, local specials", :name => "keywords"}/
    / =============== APP STYLES ===============
    = stylesheet_link_tag 'application', media: 'all', id: "maincss"
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", media: "all"
    / =============== VIEW VENDOR STYLES ===============
    = stylesheet_link_tag params[:controller]
    :css
      #content > #right > .dose > .dosesingle,
      #content > #center > .dose > .dosesingle
      {display:none !important;}
  %body{class: "#{params[:controller]}-#{params[:action]}"}
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          #notifications
            = render '/layouts/messages'
          = yield
        / Page footer
    / =============== VENDOR SCRIPTS ===============
    = javascript_include_tag 'application'
    / =============== VIEW VENDOR SCRIPTS ===============
    = javascript_include_tag params[:controller]
    / =============== APP SCRIPTS ===============
    = javascript_include_tag 'application'
    %script{:crossorigin => "anonymous", :integrity => "sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", :src => "https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"}
    = yield :body_area
    = yield :footer_scripts


